{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block main %}
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #f6d365;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right bottom, #f69c73, #e46b33);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right bottom, #f69c73, #e46b33)
        }

        .img-fluid {
            border-radius: 30%;
        }
    </style>
    {% block extra_toggle_button %}
        <button class="navbar-toggler" type="button" onclick="toggleSlider()">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock %}
    {% include 'App_main/customer_dashboard_base.html' %}
    <div class="container">
        <div id="main">
            <div class="service-div">
                <div class="container">
                    <div class="container">
                        <div class="row justify-content-center">
                            <section class="vh-100 mb-5" style="background-color: #f4f5f7;">
                                <div class="container py-5 h-100 overflow-scroll">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col col-lg-6 mb-4 mb-lg-0">
                                            <div class="card mb-3" style="border-radius: .5rem;">
                                                <div class="row g-0">
                                                    <div class="col-md-4 gradient-custom text-center text-white"
                                                         style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                                        {% if profile.photo.url %}
                                                            <img src="{{ profile.photo.url }}"
                                                                 alt="Avatar" class="img-fluid my-5"
                                                                 style="width: 80px;"/>
                                                        {% else %}
                                                            <img src="{% static 'images/defaultImage.png' %}"
                                                                 alt="Avatar" class="img-fluid my-5"
                                                                 style="width: 80px;"/>
                                                        {% endif %}
                                                        <h5>
                                                            {% if profile.full_name %}
                                                                {{ profile.full_name }}
                                                            {% else %}
                                                                {{ user }}
                                                            {% endif %}
                                                        </h5>
                                                        <p>Honorable Customer</p>
                                                        <a href="{% url 'App_main:update-profile' %}">
                                                            <i class="fa fa-edit mb-5"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body p-4">
                                                            <h6>Information</h6>
                                                            <hr class="mt-0 mb-4">
                                                            <div class="row pt-1">
                                                                <div class="col-6 mb-3">
                                                                    <h6>Email</h6>
                                                                    <p class="text-muted">
                                                                        {{ user.email }}
                                                                    </p>
                                                                </div>
                                                                <div class="col-6 mb-3">
                                                                    <h6>Phone</h6>
                                                                    <p class="text-muted">
                                                                        {% if profile.phone %}
                                                                            {{ profile.phone }}
                                                                        {% else %}
                                                                            No contact number shared
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <h6>Address</h6>
                                                            <hr class="mt-0 mb-4">
                                                            <div class="row pt-1">
                                                                <div class="col-md-6 mb-3">
                                                                    <h6>Home</h6>
                                                                    <p class="text-muted">
                                                                        {% if profile.address %}
                                                                            {{ profile.address.House_no }}
                                                                            {{ profile.address.Area }},
                                                                            {{ profile.address.City }}-
                                                                            {{ profile.address.Pin_code }}
                                                                        {% else %}
                                                                            No address shared
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <h6>Total Booking</h6>
                                                                    <p class="text-muted">{{ user.user.count }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var mini = true;
        let counter = 0;
        let sideBar = document.getElementById("mySidebar");
        let main_bar = document.getElementById("main");

        function toggleSidebar() {
            if (mini) {
                sideBar.style.width = "250px";
                main_bar.style.marginLeft = "250px";
                this.mini = false;
                c
            } else {
                sideBar.style.width = "85px";
                main_bar.style.marginLeft = "85px";
                this.mini = true;
            }
        }

        function toggleSlider() {
            if (counter === 0) {
                sideBar.style.display = 'block';
                sideBar.style.width = "250px";
                counter = 1;
            } else {
                sideBar.style.display = 'none';
                counter = 0;
            }
        }
    </script>
    <script>
        const buttons = document.querySelectorAll(".card-buttons button");
        const sections = document.querySelectorAll(".card-section");
        const card = document.querySelector(".card");

        const handleButtonClick = (e) => {
            const targetSection = e.target.getAttribute("data-section");
            const section = document.querySelector(targetSection);
            targetSection !== "#about"
                ? card.classList.add("is-active")
                : card.classList.remove("is-active");
            card.setAttribute("data-state", targetSection);
            sections.forEach((s) => s.classList.remove("is-active"));
            buttons.forEach((b) => b.classList.remove("is-active"));
            e.target.classList.add("is-active");
            section.classList.add("is-active");
        };

        buttons.forEach((btn) => {
            btn.addEventListener("click", handleButtonClick);
        });
    </script>
{% endblock %}